nz-table nz-pagination ul {
	list-style: none !important;
	display: flex !important;
	column-gap: 1rem !important;
	align-items: center !important;
}

.product-image {
	width: 8rem;
	height: 8rem;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
